# FleetFlow Backend Environment Variables
# Copy this file to .env and adjust values as needed

PORT=5000
JWT_SECRET=fleetflow-secret-key-change-in-production

FRONTEND_URL=http://k8s-fleetflo-fleetflo-bee31e2f10-1e80b0ab8559bfac.elb.ap-south-1.amazonaws.com